@import "style.scss";

#extra-info {
  display: inline-block;
  margin-bottom: 10px;
  border-top: 1px solid #00000030;

  .fonte a {
    position: relative;
    display: block;
    left: 10px;
    font-size: 14px;
  }

  .ibagens {
    position: relative;
    display: block;
    width: 146px;
    height: 200px;
    border-radius: 100%;
    background-size: 100% !important;
    background-position: center !important;
  }

  span {
    display: block;
  }

  .aaa {
    position: relative;
    font-size: 24px;

    .a {
      position: relative;
      font-size: 30px !important;
    }
  }

  p {
    display: block;
    font-size: 19px;
  }

  .Social {
    display: inline-block;
  }
}
